@use "../helpers/variables";

.pc-works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  margin-top: 40px;
  text-align: left;

  .works-item {
    display: flex;
    cursor: pointer;
    border: 1px solid #192f60;
    border-radius: 10px;

    &:hover {
      transition: 0.3s;
      transform: translateY(-5px);
    }

    a {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    .item-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }

    .item-text {
      padding: 25px;

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .item-category {
      width: fit-content;
      padding: 0 15px;
      border: variables.$main-color 1px solid;
    }

    .item-title {
      flex-wrap: wrap;
      font-weight: bold;
    }

    .item-overview {
      flex-basis: 72px;
    }

    .item-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .tag {
        padding: 3px 15px;
        color: #ffffff;
        background-color: variables.$main-color;
        border-radius: 15px;
      }
    }
  }
}
