@use "../../mq.scss" as *;

.about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq() {
    flex-direction: row;
    justify-content: space-around;
  }
}

.portrait {
  width: 150px;
  margin-top: 40px;

  @include mq() {
    width: 200px;
  }

  img {
    border-radius: 50%;
  }
}

.introduce {
  margin-top: 40px;
}

.introduce-inner {
  word-break: keep-all;
}

.introduce-inner + .introduce-inner {
  margin-top: 30px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-list {
  font-size: 15px;

  @include mq() {
    margin-top: 6px;
    font-size: 18px;
  }

  .skill-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 28px;

    .skill-rank {
      display: flex;
      justify-content: flex-start;
      margin-left: 30px;
    }
  }
}

.works-inner {
  h3 {
    margin-top: 15px;
    font-family: "Bungee Hairline", cursive;
    text-align: left;
  }
}
