@use "../../mq.scss" as *;

.about-inner {
  @include mq() {
    display: flex;
    align-items: center;
  }
}

.portrait {
  width: 28%;
  margin: 30px auto;
  border-radius: 50%;
}

.introduce {
  margin-top: 40px;
}

.introduce-inner + .introduce-inner {
  margin-top: 30px;
}

.skill-icons {
  gap: 9px;
}
