@use "../../mq.scss" as *;

.main-visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/background.jpg");
  background-position: center center;
  background-size: cover;
  .logo {
    @include mq() {
      max-width: 600px;
    }
    opacity: 0.9;
    position: absolute;
    width: 100%;
    max-width: 360px;
    overflow: hidden;
    animation: logo-visible-parent 0.8s ease-in;
    h1 {
      display: none;
    }
    img {
      animation: logo-visible-child 0.8s ease-in;
    }

    @keyframes logo-visible-parent {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    @keyframes logo-visible-child {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }
}
