@use "../../mq.scss" as *;

.main-visual {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/background.webp");
  background-position: center center;
  background-size: cover;

  .logo {
    @include mq() {
      max-width: 600px;
    }

    position: absolute;
    width: 100%;
    max-width: 360px;
    overflow: hidden;
    opacity: 0.9;
    animation: logo-visible-parent 0.8s ease-in;

    h1 {
      display: none;
    }

    img {
      animation: logo-visible-child 0.8s ease-in;
    }

    @keyframes logo-visible-parent {
      0% {
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(0%);
      }
    }

    @keyframes logo-visible-child {
      0% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(0%);
      }
    }
  }

  .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3px;
    margin-top: auto;
    opacity: 0.8;

    .scroll-icon {
      fill: #fff;
      animation: scrolldown 1s ease-in-out infinite both;
    }

    @keyframes scrolldown {
      0% {
        transform: translateY(4px);
      }

      50% {
        transform: translateY(-4px);
      }

      100% {
        transform: translateY(4px);
      }
    }
  }
}
