.swiper {
  display: flex;
  padding-top: 40px;

  gap: 20px;
  a {
    display: block;
    flex-basis: 25%;
    background-color: #ffffff;
  }
  img {
    display: block;
    &:hover {
      opacity: 0.8;
      transition: 0.2s;
    }
  }
  .swiper-thumb {
    width: 70%;
  }
}
