.pc-works {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  text-align: left;

  .works-item {
    display: flex;
    width: calc(33% - 20px * 2 / 3);
    padding-bottom: 30px;
    cursor: pointer;
    box-shadow: 0.8rem 0.8rem 1.2rem rgb(0 0 0 / 7%),
      -0.8rem -0.8rem 1.2rem #ffffff;

    &:hover {
      box-shadow: 1rem 1rem 1.5rem rgb(0 0 0 / 8%), -1rem -1rem 1.5rem #ffffff;
      transition: 0.3s;
      transform: translateY(-5px);
    }

    a {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    .item-title {
      flex-grow: 1;
      padding: 0 25px;
      margin-top: 20px;
      font-weight: bold;
    }

    .item-overview {
      flex-grow: 1;
      padding: 0 25px;
      margin-top: 25px;
    }
  }
}
