@use "variables";

.pc-works {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  text-align: left;

  .works-item {
    display: flex;
    width: calc(33% - 20px * 2 / 3);
    padding-bottom: 30px;
    cursor: pointer;
    box-shadow: 0.8rem 0.8rem 1.2rem rgb(0 0 0 / 7%),
      -0.8rem -0.8rem 1.2rem #ffffff;

    &:hover {
      box-shadow: 1rem 1rem 1.5rem rgb(0 0 0 / 8%), -1rem -1rem 1.5rem #ffffff;
      transition: 0.3s;
      transform: translateY(-5px);
    }

    a {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    .item-category {
      width: fit-content;
      padding: 0 15px;
      margin-top: 20px;
      margin-left: 25px;
      border: variables.$main-color 1px solid;
    }

    .item-title {
      flex-wrap: wrap;
      padding: 0 25px;
      margin-top: 10px;
      font-weight: bold;
    }

    .item-overview {
      flex-basis: 72px;
      padding: 0 25px;
      margin-top: 25px;
    }

    .item-tags {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 20px;

      .tag {
        padding: 3px 15px;
        margin: 5px;
        color: #ffffff;
        background-color: variables.$main-color;
        border-radius: 15px;
      }
    }
  }
}
