@use "components/stylesheets/variables";
@use "mq" as *;

@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Bungee+Hairline&display=swap");

* {
  font-family: "Mulish", sans-serif;
  color: variables.$main-color;
}

.main {
  position: relative;

  .contents {
    width: 100%;
    padding: 40px 15px;
    margin: 30px auto;
    text-align: center;
    opacity: 0;
    transition: opacity 1s, transform 0.8s;
    transform: translateY(50px);

    @include mq() {
      width: 60%;
      padding: 20px 15px;
    }

    &.show {
      opacity: 1;
      transform: translateY(0);
    }

    h2 {
      font-family: "Bungee Hairline", cursive;
      font-size: 40px;
      text-align: left;

      @include mq() {
        font-size: 60px;
      }
    }

    h3 {
      margin-bottom: 10px;

      @include mq() {
        font-size: 20px;
      }
    }

    p {
      font-size: 15px;
      line-height: 30px;

      @include mq() {
        font-size: 18px;
        line-height: 35px;
      }
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.border {
  border-top: 2px solid variables.$main-color;
}

.return-top-button {
  position: fixed;
  right: 5%;
  bottom: 10%;
  cursor: pointer;
  animation: move-to-right 0.5s forwards;

  &.show {
    z-index: 10;
    opacity: 1;
    animation: move-to-left 0.5s forwards;
  }

  @keyframes move-to-left {
    from {
      opacity: 0;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes move-to-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(100px);
    }
  }
}

.button svg {
  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 60px;
  background-color: variables.$main-color;

  @include mq() {
    height: 50px;
  }

  p {
    font-size: 12px;
    color: #ffffff;

    @include mq() {
      font-size: 15px;
    }
  }
}
